<h3>予定一覧</h3>
<p><%= link_to "新規追加", :new_schedule %></p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>メモ</th>
    </tr>
  </thead>
 
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.start %></td>
        <td><%= schedule.end %></td>
        <td><%= schedule.allday %></td>
        <td><%= schedule.memo %></td>
        <td>
          <%= link_to "参照", schedule %>
        </td>
        <td>
        	<%= link_to "編集", [:edit, schedule] %>
        </td>
        <td>
          <%= link_to "削除", schedule, method: :delete, data: {confirm: "本当に削除しますか？"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


